# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/src/main/resources/
/SoapUi/src/main/resources/
/SoapUi/target
/Database/nbactions-mysql.xml
/Database/target
/Service/nb-configuration.xml
/Service/target
/Service/src/main/webapp/apidocs/
Service_Test-Create-Create-0-FAILED.txt
/target/
/soapUi/target/
/service/src/main/webapp/apidocs/
/soapUi/src/main/resources/
/database/nbactions-mysql.xml
/service/target/
/service/nbproject/
/service/nb-configuration.xml